* {
	font-size: 10px;
}

@btn-color: #4ad2cd;
@text-gray: #a5a4a4;

.button {
	button {
		background-color: @btn-color; 
		color: white;
		border: none;
		width: 100%;
		font-size: 1.4rem;
		padding: 1.7rem;
	}
	button:active, button:focus {
		
		outline: none;
	}
	button:active {
		background-color: #0da9a4;
	}
	
	 
}

.logo {
	font-family: 'Satisfy', cursive;
	color: white;
	font-size: 4rem;
}

.main {
	background: url(../img/first-bg.jpg) center no-repeat;
	background-size: cover;
	padding-bottom: 20rem;
	.header {
		margin-top: 2.5rem;
		a {
			margin: 1rem;
			font-size: 1.3rem;
			color: black;
			font-weight: 600;
		}
		a:hover {
			color: @btn-color;
			text-decoration: none;
			font-weight: 600;
		}
		img {
			width: 100%;
		}
	}
	.banner {
		background-color: rgba(0, 0, 0, 0.3);
		margin-top: 20%;
		padding: 2rem 3rem;
		color: white;
		h1 {
			display: inline-block;
			font-family: 'Satisfy', cursive;
		}
		h2 {
			display: inline-block;
		}
		p {
			font-size: 1.8rem;
			color: #ecebeb;
			margin: 2.2rem 0;
			
		}
	}
}

.about {
	text-align: center; 
	padding: 6rem;
	p {
		color: @text-gray;
		font-size: 1.4rem;
		margin: 2.2rem 0;
	}
}

.skillsBG{
	background: url(../img/second-bg.jpg) center no-repeat;
	background-size: cover;
	
}
.skills {
	background: linear-gradient( rgba(0, 0, 0, 0.05) );
	padding: 10rem 0;
	border: 1px dotted @text-gray;
	p {
		font-size: 1.2rem;
		font-weight: 600;
		margin-top: 2rem;
		text-transform: uppercase;
	}
	.parrent{
	  width: 100%;
	  height: 2px;
	  background: #dad9d9;
	  margin: 5px;
	}
	.child{
	  height: 100%;
	  background: @btn-color;
	  border-bottom-right-radius: 10px;
	}
	.design{
	  width: 75%;
	}
	.development{
	  width: 90%;
	}
	.marketing {
		width: 65%;
	}
}

.numbers {
	padding: 10rem 0;
	background-color: @btn-color;
	color: white;
	p {
		display: inline-block;
		font-size: 1.3rem; 
		padding: 0rem 1rem; 
		margin: 0;
		vertical-align: middle;
		text-transform: uppercase;
		
	}
	.case {
		margin: 2rem 0;
	}
}

/* -------------------------------- 

Modal Window

-------------------------------- */
.cd-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-modal svg {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-modal svg > path {
  fill: @btn-color;
}
.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.07) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* Force hardware acceleration*/
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.modal-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-modal.modal-is-visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.cd-modal-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding: 3em 5% 4em;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, transform 0.3s 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-modal-content p {
  color: #f2f2f2;
  line-height: 1.6;
  margin: 2em 0;
}
.modal-is-visible .cd-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -moz-transition: opacity 0.3s 0.3s, -moz-transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-modal-content {
    padding: 3em 10% 4em;
  }
  .cd-modal-content p {
    font-size: 2.4rem;
  }
}

/*---------------------------*/

.load-more {
	background-color: #f5f5f5;
	text-align: center;
	padding: 2.5rem 0;
	a {
		color: @text-gray;
	}
	a:hover, a:focus, a:visited {
		text-decoration: none;
	}
	a:hover, a:focus {
		color: #a19f9f;
	}
}

.work {

	&-picture {
		display: inline-block;
		text-align: center;
		width: 19%;
	}
	img {
		width: 100%;
	}
}

.work-picture:hover {
	border: 9px solid white;
}

.MyModal {
	width: 100%;
	height: 100%;
	background-color: @btn-color;
}


.process {
	text-align: center;
	position: relative;
	width: 100%;
	padding-bottom:40%;
	background-color: #f5f5f5;
	h1 {
		padding-top: 6rem;
		padding-bottom: 3rem;
	}
	p {
		margin-bottom: 3rem;
		font-size: 1.4rem;
		color: @text-gray;
	}
	&-child {
		position: absolute;
 		width: 60%;
 		height: 75%;
 		top: 30%;
 		left: 20%;
 		padding-bottom: 12rem;
 		padding-top: 1rem;
 		iframe {
 			height: 100%;
 			width: 100%;
 			border: 1px dotted @btn-color;
 		}
	}
}

.services {
	h2 {
		display: inline-block;
		border-bottom: 2px solid @btn-color;

	}
	text-align: center;
	color: @text-gray;
	padding: 5rem;
	.window {
		width: 90%;
	}

	img {
		margin-top: 8rem;
		margin-bottom: 3rem;
	}
	.mainTEXT {
		font-weight: 700;
		font-size: 1.3rem;
	}
	.secondTEXT {
		font-size: 1.1rem;
	}
}


.testimonials {
	background-color: @btn-color;
	text-align: center;
	position: relative;
	width: 100%;
	padding-bottom:50%;
	h2 {
		color: white;
	padding-top: 3.5rem;
	}
}
	.FORfotorama {
			margin-top: -4rem;
			position:absolute;
	 		width:60%;
	 		height:75%;
	 		top: 0%;
	 		left: 20%;
		.fotorama {
			text-align: center;
			padding-bottom: 2rem;
			/*background: @btn-color url(../img/testimonials/0.jpg) center no-repeat;*/
			color: white;
			img {
				width: 100%;
			}
			p {
				font-size: 2.1rem;
			}
			.fotoramaTEXT {
				padding-top: 25%;
			}
			h1 {
				font-family: 'Pattaya', sans-serif;
				text-align: center;
				letter-spacing: 5px;
			}
			
		}
}
  					

  .clients {
  	margin: 4rem 0;
  	
  	h4 {
  		margin: 2rem 0;
  		color: @btn-color;
  		text-align: center;
  	}
  	.clientsPICTURE {
  		text-align: center;
  		width: 100%;
  		display: inline-block;
  		margin-top: 3rem;
  	}
  }		

  .need {
  	text-align: center;
  	background-color: #f5f5f5;
  	padding: 5rem 0;
  	.needREXT {
  	text-align: center;
  	p {
  		font-size: 1.2rem;
  		margin: 2rem 0;
  	}
  	 
  	}
  }

  /* стили формы */

  form .row {
  display: block;
  /*padding: 7px 8px;*/
  }
 
  
  form .req { color: #ca5354; }

  form .note {
  font-size: 1.2em;
  line-height: 1.33em;
  font-weight: normal;
  padding: 2px 7px;
  margin-bottom: 10px;
  }

  form input:focus, form textarea:focus { outline: none; }

  /* placeholder styles: http://stackoverflow.com/a/2610741/477958 */
  ::-webkit-input-placeholder { color: #aaafbd; font-style: italic; } /* WebKit */
  :-moz-placeholder { color: #aaafbd; font-style: italic; } /* Mozilla Firefox 4 to 18 */
  ::-moz-placeholder { color: #aaafbd; font-style: italic; } /* Mozilla Firefox 19+ */
  :-ms-input-placeholder { color: #aaafbd; font-style: italic; } /* Internet Explorer 10+ */

  form .txt {
  display: inline-block;
  margin-top: 2rem;
  padding: 8px 9px;
  padding-right: 30px;
  width: 100%;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.35em;
  font-weight: normal;
  color: #898989;
  border: none;
  }

  textarea {
  display: inline-block;
  margin-bottom: 3rem;
  width: 100%;
  height: 15rem;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.35em;
  font-weight: normal;
  color: #898989;
  border: none;
  }
  /* стили формы конец */	

  .contacts {
  	padding: 4rem 0;
  	background-color: black;
  	color: white;
  	p {
  		font-size: 1.4rem;
  	}
  	.maps {
		
		iframe {
			width: 100%;
			height: 30rem;
			border: 2px solid white;
  			border-radius: 10px;
		}
  	}
  	.vhod {
  		border: 2px solid white;
  		border-radius: 10px;
  		width: 100%;
  	}
  }	

  .formModal {
  	background-color: rgba(0, 0, 0, 0.2);
  	&-min {
  		background-color: rgba(0, 0, 0, 0.4);
  	}
  }	

  /* ================================== */

  /* на всех экранах меньше 1200px */
@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	.process-child {
		top: 19rem;
	}
	.FORfotorama {
		top: 10rem; 	
	}
	.skills {

	}
}